.main {
  text-align: center;
  padding: 6rem;
  min-height: 100vh;
  background: url("/static/background.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #373b64;
  height: 100%;
}

.title {
  font-size: 4rem;
  margin: 0;
  line-height: 1.15;
  text-align: center;
}
